*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: pink;
    padding: 15px 30px;
    border-radius: 0 0 20px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

header ol{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

header p{
    color: rgb(255, 0, 115);
    font-weight: bold;
}

header li a{
    color: rgb(255, 0, 115);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

header li a:hover {
    color: white;
    background-color: rgb(255, 0, 115);
    padding: 5px 10px;
    border-radius: 10px;
}

/* SECTION1 - SOBRE MIM */

#section1{
    background-image: url(./imagens/fundo-rosa.jpg);
    background-repeat: no-repeat; /* impede repetição */
    background-size: cover; /* faz cobrir toda a tela */
    color: rgb(255, 0, 115);
    padding: 120px 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#section1 #apresentacao-pessoal{
    display: flex; 
    gap: 40px;
    align-items: center;
    max-width: 1000px;
}

#section p{
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}

#section1 img{
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
}

#imagens{
    display: flex;
    justify-content: center; 
    align-items: center;    
    gap: 20px;               
    flex-wrap: wrap;   
    margin-top: 20px;
}
/* SECTION2 - CURIOSIDADES */
#section2{
    min-height: 100vh;
    background-image: url(./imagens/fundo-rosa2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 0, 115);
}

#section2 h1{
    text-align: center;
    padding: 40px;
}
#curiosidades {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.curiosidades-card img{
    height: 200px;
    display: block;
    margin: 0 auto;
}

.curiosidades-card{
    background-color: rgb(255, 0, 115);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    border-radius: 20px;
}

/* SECTION3 - MOMENTOS */
#section3{
    min-height: 100vh;
    background-image: url(./imagens/fundo-rosa3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 0, 115);
}

#section3 h1{
    text-align: center;
    padding: 40px;
}

#carrosel{
    display: grid;
    grid-auto-flow: column;
    gap: 1.2rem;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
}

#momentos {
    margin-top: 10vh;
}

.momentos-card img{
    height: 15vw;
    display: block;
    margin: 0 auto;
}

.momentos-card{
    min-height: 350px;
    min-width: 500px;
    background-color: rgb(255, 0, 115);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    border-radius: 20px;
    scroll-snap-align: center;
    align-items: center;
}

/* SECTION4 - VIAGENS */
/* SECTION5 - VIAGENS SONHO */

#section4{
    background-image: url(./imagens/fundo-rosa4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    padding: 50px;
}

#section4 h1, #section5 h1{
    text-align: center;
    color: rgb(255, 0, 115);
    font-size: 30px;
}

#section5{
    background-image: url(./imagens/fundo-rosa5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    padding: 50px;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 60px 20px;
}

.card-container{
    flex-wrap: wrap;
    gap: 20px;
    padding: 80px 20px;
}

.card{
    width: 300px;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2); 
    transition: transform 0.3s;
}

.card img{
    width: 100%;
    height: 180px;
}

.card-content{
    padding: 16px;
}

.card-content h3{
    font-size: 25px;
}

.card:hover{
    transform: translateY(-10px);
}

/* FOOTER */
footer{
    background-color: pink;
    text-align: center;
    color: rgb(255, 0, 115);
    padding: 15px;
    font-size: 16px;
}